<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | FABTECH STORE</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to <span>FABTECH STORE </span> Your One-Stop Destination For Quality & Style</h2>
        <p>Discover the best deals on the latest mobiles, top performing laptops, and trendy dresses- all in one place. </p>
        <div class="buttons">
            <a href="{{ url_for('login') }}" class="btn login">Login</a>
            <a href="{{ url_for('register') }}" class="btn register">Register</a>
        </div>
    </div>
</body>
</html>
